{% extends "base_form.html" %}

{% block title %}Reset Your Password{% endblock %}
{% block form_title %}Reset Your Password{% endblock %}

{% block form_content %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="token" value="{{ token }}">

        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label for="id_password">New Password</label>
        {{ form.password }}

        {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label for="id_confirm_password">Confirm Password</label>
        {{ form.confirm_password }}

        {% if form.confirm_password.errors %}
            <ul>
                {% for error in form.confirm_password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <button type="submit">Reset Password</button>
    </form>
{% endblock %}
